@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Unbounded:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
/* :root {
  --primary-theme: #f0f38d;
  --secondary: #212121;
}
.dark-theme {
  --primary: #000106;
  --secondary: #fff;
} */
.hero {
  /* height: 100vh; */
  width: 100%;
  background: var(--primary);
  font-family: Montserrat;
  position: relative;
}
.logo {
  width: 100px;
  cursor: pointer;
}
#icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

nav {
  width: 82%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
nav ul li a:hover {
  color: #00495d;
}

.nav-icons {
  display: none;
}
.content {
  font-size: 3rem;

  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auto-type {
  color: #1a0000;
  font-family: Unbounded;
  color: aliceblue;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #543ab7, #00acc1);
}

/* waves */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* about */

#description {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;
  font-family: Montserrat;
}
.description-content {
  max-width: 50%;
  text-align: left;
}

#timeline {
  display: flex;
  background-color: linear-gradient(60deg, #543ab7, #00acc1);
}
#timeline:hover .tl-item {
  width: 23.3333%;
}
/* 031625 */

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
    sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 1.728rem;
  /* line-height: 0; */
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

@media (max-width: 700px) {
  #description{
    flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  }
  .description-content {
    max-width: 80%;
   
  }
  img{
    width: 50%;
  }
  
}
/* 
about end */

/* tools and technology */
#Tools-technology {
  margin: 100px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h2 {
  text-align: center;
  font-family: Unbounded;
  margin-bottom: 20px;
  color: #0081cf;
}

h3 {
  text-align: center;
  color: #0081cf;
  margin-bottom: 10px;
  font-family: Unbounded;
  font-weight: bold;
}

.tools {
  font-family: Montserrat;
  color: #b0a8b9;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.tools-img {
  display: flex;
}

.tools-img img {
  width: 150px;
  max-height: 150px;
}

/* skills carasoul */

.text {
  font-family: Montserrat;
  max-width: 50%;
  text-align: left;
  color: #b0a8b9;
}

.conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.carrosel {
  -webkit-perspective: 250px;
  perspective: 250px;
  -moz-perspective: 250px;

  width: 400px;
  height: 200px;
  top: 25px;

  position: relative;
}

@-webkit-keyframes efeitoCarrosel {
  from {
    -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
    -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
    z-index: 10;
    opacity: 1;
  }

  50% {
    z-index: -10;
  }

  to {
    -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
    -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
    z-index: 10;
    opacity: 1;
  }
}

@-moz-keyframes efeitoCarrosel {
  from {
    -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
    z-index: 10;
    opacity: 1;
  }

  50% {
    z-index: -10;
  }

  to {
    -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
    z-index: 10;
    opacity: 1;
  }
}

.caixa__card {
  width: 90px;
  height: 100px;
  /*             background-color: #442222; */
  font-family: Unbounded;
  position: absolute;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  top: 35px;
  left: 125px;
  font-size: 9px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-animation-name: efeitoCarrosel;
  animation-name: efeitoCarrosel;
  -moz-animation-name: efeitoCarrosel;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.caixa__card:hover {
  /* border: solid #0081cf 3px; */
  box-shadow: 0px 0px 10px #0081cf;
}

.caixa__card.cc__1 {
  /*             background: linear-gradient(-229deg, #0093E9, #80D0C7); */
  -webkit-animation-delay: -7s;
  -moz-animation-delay: -7s;
}

.caixa__card.cc__2 {
  /* background: linear-gradient(-229deg, #e34c26, #f06529); */
  -webkit-animation-delay: -6s;
  -moz-animation-delay: -6s;
}

.caixa__card.cc__3 {
  /* background: linear-gradient(-229deg, #50d990, #d4d054); */
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
}

.caixa__card.cc__4 {
  /* background: linear-gradient(-229deg, #cf91ff, #5782f5); */
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
}

.caixa__card.cc__5 {
  /* background: linear-gradient(-229deg, #642b73, #c6426e); */
  -webkit-animation-delay: -3s;
  -moz-animation-delay: -3s;
}

.caixa__card.cc__6 {
  /* background: linear-gradient(-229deg, #d9afd9, #97d9e1); */
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
}

.caixa__card.cc__7 {
  /* background: linear-gradient(-229deg, #fbab7e, #f7ce68); */
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
}

.caixa__card.cc__8 {
  /* background: linear-gradient(-229deg, #1472ff, #a8eb12); */
}

/* Animation for waves */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.css-button-sliding-to-left {
  max-width: 150px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #0081cf;
  color: #0081cf;
}
.css-button-sliding-to-left:hover {
  color: #fff;
}
.css-button-sliding-to-left:hover:after {
  width: 100%;
}
.css-button-sliding-to-left:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #0081cf;
}

/* Projects Section start */

.project-text {
  margin: 30px;
  color: aliceblue;
  text-align: center;
  max-width: 50%;
}
#Projects h3 {
  color: aliceblue;
}
#Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(200deg, #00acc1 0%, #543ab7 74%);
  height: 100vh;
  gap: 10px;
}

.github-profile {
  width: 500px;
  height: 300px;
  border-radius: 30px;
  visibility: hidden;
  position: absolute;
}

.git-link {
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
}

.git-link:hover .github-profile {
  visibility: visible;
  z-index: 6;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {
  .project-text {
    max-width: fit-content;
  }
  #Projects {
    height: 130vh;
  }
  .github-profile {
    display: none;
  }
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: fit-content;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;

  box-shadow: 4px 13px 30px 1px #0081cf;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  opacity: 0.8;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-family: unbounded;
  font-size: 24px;
  font-weight: 700;
  color: #b0a8b9;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #b0a8b9;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #0081cf 0%, #00acc1 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px #0081cf;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #0081cf;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/* Project Section end */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* hire me sections start */
#hire-me {
  width: 100%;
  height: 100vh;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

@media (max-width: 768px) {
  #hire-me {
    /* margin-top: 100px; */
  }
}
/* hire me section end */

/* footer section starts */

#footer {
  background-image: linear-gradient(
    200deg,
    rgb(0, 172, 193) 0%,
    rgb(84, 58, 183) 74%
  );
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: aliceblue;
  /* background-color: aliceblue; */
}

#footer h3 {
  color: aliceblue;
  padding: 40px 0 10px;
}

.social-icons {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1rem;
}

.bi:hover {
  font-size: 1.5rem;
}

.footer-text .bi {
  color: red;
}
.footer-text {
  padding-top: 20px;
}

/* footer section ends */

/*Shrinking for mobile*/
@media (max-width: 768px) {
  nav ul li {
    display: block;
  }

  nav ul {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    text-align: left;
    z-index: 2;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    font-size: 2rem;
    color: #00495d;
  }

  .bi {
    display: block;
    color: aliceblue;
    margin: 10px;
    font-size: 3rem;
    cursor: pointer;
  }

  #timeline {
    display: flex;
    flex-direction: column;
  }
  .tl-item {
    width: 100%;
  }
  .tl-item:hover {
    width: 100% !important;
  }

  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
  #Tools-technology {
    margin: 50px;
  }

  .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .tools {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .text {
    max-width: 100%;
  }

  .tools-img img {
    width: 100px;
    height: 100px;
  }

  .carrosel {
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    width: 300px;
    height: 100x;
    right: 20px;
    position: relative;
  }
}
